* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(244, 244, 244);
}

header {
  background-color: rgb(244, 244, 244);
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

small {
    color: red;
    font-size: 20px;
}

p {
    display: flex;
    font-size: 30px;
}
.texto-pequeno {
  color: red;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

#titulo-header p{
  color: black;
  font-size: 30px;
  font-weight: bold;
}

#menu-header{
  display: flex;
  gap: 10px;
}

#menu-header p{
 color: black;
 font-size: 16px;
}

main{
  padding: 20px;
}

#hero {
  background-color: rgb(142, 183, 236);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#texto-hero h1{
  font-size: 80px;
}

#texto-hero p{
  font-size: 16px;
}

#img-hero img{
  width: 350px;
  padding: 20px;
}

#galeria-texto{
  margin-top: 50px;
}

.card {
  background-color: rgb(255, 255, 255);
  width: 30%;
  margin-top: 20px;
}

.card img{
  width: 100%;
  margin-bottom: 20px;
}

#galeria-imgs {
  display: flex;
  gap: 10px;
  align-content: center;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
}

.card-texto {
  padding: 10px;
}
